body {
   min-width: 600px;
}

.counter-badge {
   margin: 0 10px;
   font-size: 15px;
}

.buttons {
   position: absolute;
   left: 180px;
   top: 14px;
}

#modalDiv {
   margin-top: -50px;
   margin-left: 200px;
   width: 70px;
}